@page "/DeleteProduct/{CurrentId}"
@using ProductCatalog.Data
@using ProductCatalog.Services
@inject ProductService productService
@inject NavigationManager NavigationManager

<h3>Delete Product</h3>
<hr />
<h3>Are you sure want to delete this?</h3>
<br />
<div class="row">
    <div class="col-md-8">
        <div class="form-group">
            <label>Product Id:</label>
            <label>@product.Id</label>
        </div>
        <div class="form-group">
            <label>Displayname:</label>
            <label>@product.Displayname</label>
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <input type="button" class="btn btn-primary" @onclick="@RemoveProduct" value="Delete" />
            <input type="button" class="btn btn-primary" @onclick="@Cancel" value="Cancel" />
        </div>
    </div>
</div>

@code {
    [Parameter]
    public string CurrentId { get; set; }

    ProductDto product = new ProductDto();

    protected override async Task OnInitializedAsync()
    {
        product = await Task.Run(() => productService.GetProductById(CurrentId));
    }

    protected void RemoveProduct()
    {
        productService.DeleteProduct(product.Id);
        NavigationManager.NavigateTo("Product");
    }
    void Cancel()
    {
        NavigationManager.NavigateTo("Product");
    }
}
